<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Services</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Services</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box">
            <i class="icofont-home"></i>
            <h4><a href="#">Interior Design</a></h4>
            <p>In Divine interior we are a leading architecture and Interior design service provider . We provide a wide array services, and make sure that all the requirements of our clients are fulfilled under one roof with unique and comprehensive design solutions.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="icofont-cube"></i>
            <h4><a href="#">3D View</a></h4>
            <p>Interior designing and its 3D presentation gives you a complete idea about how your home will look like in future. Interior views are very specific for individual situations, the needs and wants of the individual are paramount in these views.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="icofont-refresh"></i>
            <h4><a href="#">Renovation</a></h4>
            <p>The concept of home renovation, or remodeling is the process of renovating or making additions to one's home. Home improvement can consist of projects that upgrade an existing home interior, exterior, or other improvements to the property.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="icofont-settings"></i>
            <h4><a href="#">Modular Furniture</a></h4>
            <p>We are a highly acclaimed name to offer supreme quality Modular Kitchen Cabinet. Owing to the fine finish and attractive design, this modular kitchen offered by us is immensely appreciated among our client-base spread worldwide.Also we provide Premium Modular furniture solution for any type of offices, corporate, industrial.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="icofont-earth"></i>
            <h4><a href="#">Vastu</a></h4>
            <p>We are the pioneers in the arena of vastu shastra services and your one-stop site for the best Information. Our top-notch vastu specialist provides customized services which aptly suit your needs. We are proud to announce that we have been addressing the queries of our website visitors to the best possible extent.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="icofont-building"></i>
            <h4><a href="#">Construction</a></h4>
            <p>When a project is conceived, we can help make the plans a reality by ensuring processes run efficiently, construction sites are safe and reliable materials are used. Effective planning is an essential part of the ongoing project management process. The environmental impact of a job, its scheduling, budgeting, site safety, availability,etc.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="section-title">
        <h2>Service Details</h2>
        <p>Check Our Services</p>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">3D Designing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-2">False Ceiling</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-3">Decorative Lights</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-4">Furniture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-5">Modular Kitchen Trolley</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-6">Interior Consulting</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>3D Designing</h3>
                  <p class="font-italic">Our designer understand the complete customer requirement of their designing plans in 2D or 3D mode so that elements such as wall colour and floor finish can be selected. Think Design provides a unique design environment with 2D and 3D features as well. This still represents a great advantage to the users.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/features-1.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>False Ceiling</h3>
                  <p class="font-italic">Types of False Ceilings</p>
                  <ul>
                    <li class="font-italic">Gypsum Ceiling</li>
                    <li class="font-italic">Plaster of Paris Ceiling</li>
                    <li class="font-italic">Fibre Ceiling</li>
                    <li class="font-italic"> Wooden Ceiling</li>
                    <li class="font-italic">Glass Ceiling</li>
                    <li class="font-italic">Metal Ceiling</li>
                    <li class="font-italic">Synthetic Leather or Cloth Ceiling</li>
                  </ul>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/features-2.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Decorative Lights</h3>
                  <p class="font-italic">We Provide Complete Solution</p>
                  <p>Not sure how to start decorating your home? Planning a theme and choosing pieces that match your distinguished style is easier than you might think! When choosing home decor, it can be helpful to start with one room at a time, identifying the central piece of lighting or decor in each room and building your aesthetic around it.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/features-3.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Furniture</h3>
                  <p class="font-italic">If you’re facing an empty house or a big remodel, you’ve got big choices to make. Before you decide how to fill your home, learn about the options you have—the types of furniture and the names of VG Creative Creation —to help you make the best decisions to decorate your rooms.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/features-4.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Modular Kitchen Trolley</h3>
                  <p class="font-italic">There are different types of channels and trolley designs to choose from, to best suit you kitchen Style. There are channels that can take upto 30kgs and 50kgs weight. Different channels are used as per the weight that drawer probably would carry.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/features-5.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-6">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Interior Consulting</h3>
                    <p class="font-italic">We are happy to say that experience in 3D Designing, False Ceiling, Decorative Lights, Furniture, Modular Kitchen Trolley, Turnkey Projects and Fit-Out Projects. There is really nothing more satisfying than when someone tells you “this beautiful piece of your Home or Office Interior or Furniture looks awesome.” As a Interior & Architect designer, this is my dream feedback

                        Our consultation services are intended to assist property owners with do-it-yourself design. Have two design consultants come to your home to assist you in color choice, art placement, space planning and furniture layout.
                        
                        The on-site portion of a consultation will last approximately two hour. Our consultant will help you tackle each area of the space in an efficient manner.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/features-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->
