 <!-- ======= Breadcrumbs ======= -->
 <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>About</h2>
        <ol>
          <li><a href="home">Home</a></li>
          <li>About</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div class="col-lg-6">
          <h2>WHO WE ARE?</h2>
          <h3>YOUR DREAM, OUR COMMITMENT !</h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Since our inception, VG Creative Creation has grown into an team of interiors and industry experts. We are actively working towards our service offerings where we tend to bring positivity, liveliness and atmosphere to tickle a mood as per once wish. we have always been a promoter of fairness and transparency in anything we do. Customer centric approach, there satisfaction and value addition in everything we undertake is of paramount importance.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> CONTEMPORARY DESIGNS</li>
            <li><i class="ri-check-double-line"></i> COMPETITIVE RATES</li>
            <li><i class="ri-check-double-line"></i> CLIENT SUPPORT</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  

  <!-- ======= Our Skills Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>Our Skills</h2>
        <p>Check our Our Skills</p>
      </div>

      <div class="row content">
        <div class="col-lg-6">
            <p>
                Our people provide an amazing array of skills, experience and expertise. From our in-house carpentery teams and interior professionals, and our support specialists, to our various other associated vendors. Whether it be new techniques to understand or be it broad range of client interest, we strive hard to bring things on table which makes immense sense from functional aspects and working perspectives.
              </p>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
         
          <ul>
            <li><i class="ri-check-double-line"></i> Designing</li>
            <li><i class="ri-check-double-line"></i> Services</li>
            <li><i class="ri-check-double-line"></i> Consultancy</li>
            <li><i class="ri-check-double-line"></i> Execution</li>
            <li><i class="ri-check-double-line"></i> Support</li>
            <li><i class="ri-check-double-line"></i> After sales</li>
            <li><i class="ri-check-double-line"></i> Decors and Accessories selections</li>

          </ul>
          <p class="font-italic">
            “YOUR HOME SHOULD TELL WHO YOU ARE AND BE A COLLECTION OF WHAT YOU LOVE”
          </p>
        </div>
      </div>


    </div>
  </section><!-- End Our Skills Section -->